<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="jumbotron">
<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h1 class="display-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Deutsche_Bank_logo_without_wordmark.svg" class="brand_logo" alt="Logo">
            Document Generator</h1>
        <p class="lead">With this application, you can automatically generate recurrent documents.</p>
    </div>
</div>
</div>
</html>