<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
</head>
<body>

<!-- navigation bar -->
<div th:replace="fragments/topnav :: navbarFragment">
</div>

<!--quit confirmation popup begin -->
<div th:replace="fragments/topnav :: confirmation">
</div>


<!--quit confirmation popup end -->
<!--navigation bar end -->

<!--jumbotron begin-->

<div th:replace="fragments/jumbotron :: jumbotron">
</div>

<!--jumbotron end-->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div th:replace="fragments/progress_bar :: progress_bar">
            </div>

            <form action = "#" th:action="@{/result}" method="post" th:object="${userKeyword}" enctype="multipart/form-data">

                <!-- keyword iterator -->
                <div class="form-group" th:each = "keyword : ${keywords}">
                    <label for="formGroupExampleInput" th:text="'Keyword '+${keyword}">Keyword</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" th:field = "*{name}" th:placeholder="'Please insert a value for '+${keyword}">
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Table Header</th>
                            <th>API</th>
                            <th>EXCEL FILE</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each = "table : ${tableHeaders}">
                            <td th:text = "${table}"></td>
                            <td>
                                <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Api key"></td>
                            <td>
                                <input type="file" class="form-control-file" id="file1" name="file1"
                                         accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                        </td>
                        </tr>
                    </tbody>
                </table>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>



        </div>
    </div>
    <!--footer begin-->
    <div th:replace="fragments/footer :: footer">
    </div>

    <!--footer end-->
</div>

</body>
</html>
