<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // code to read selected table row cell data (values).
            $(".btnSelect").on('click', function () {
                var currentRow = $(this).closest("tr");
                var col1 = currentRow.find("td:eq(0)").html();
                // // var col2=currentRow.find("td:eq(1)").html();
                // // var col3=currentRow.find("td:eq(2)").html();
                // // var data=col1+"\n"+col2+"\n"+col3;
                // // var data = col1;
                // var inputfield = currentRow.closest("input");
                //
                // var inputvalue = col1;
                // inputfield.val(inputvalue)

                $(this)
                    .closest('tr')
                    .find('input').val(col1);
                // $('#id1').val(inputvalue);
                // alert(col1);
            });
        });
    </script>

    <!--    <script>-->
    <!--        function myFunction() {-->
    <!--            $('.tst').val($('.tst').val() + 'Table 1. Risks and Issues');-->
    <!--        }-->
    <!--    </script>-->

</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Document Generator</h1>
        <p class="lead">With this application, you can automatically generate recurrent documents.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="progress">
                <div th:text="${progressBar}" class="progress-bar" role="progressbar" aria-valuenow="20"
                     aria-valuemin="0"
                     aria-valuemax="100" style="width:10%" th:style="|width:${progressBar}%|">
                </div>
            </div>
            <div th:text="${message}" th:if="${message ne null}" class="alert" role="alert" th:classappend="${errorFlag} ? 'alert-success' : 'alert-danger'">

            </div>

            <form action="#" th:action="@{/result}" method="POST" th:object="${userInput}"
                  enctype="multipart/form-data">

                <!-- keyword iterator -->
                <div class="form-group" th:each="keyword : ${keywords}">
                    <label for="formGroupExampleInput" th:text="'Keyword '+${keyword}">Keyword</label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                           th:field="*{keywordsCommaSeparated}"
                           th:placeholder="'Please insert a value for '+${keyword}">
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Table Title</th>
                        <th>Action</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="table : ${tableTitles}">
                        <td th:text="${table}"></td>
                        <td>
                            <input style="display:none" type="text" class="form-control" id="formGroupExampleInput3" placeholder="Api key"
                                   th:field="*{apisCommaSeparated}">
                            <input style="display:none" type="text" class="form-control" id="id1"
                                   th:field="*{tableTitleCommaSeparated}">
                            <input type="file" class="form-control-file btnSelect" id="files" name="files"
                                   accept=".xls,.xlsx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                        </td>
                    </tr>
                    </tbody>
                </table>

                <button type="submit" id="btn1" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>