<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
</head>
<body>

<!-- navigation bar -->
<div th:replace="fragments/topnav :: navbarFragment">
</div>

<!--quit confirmation popup begin -->
<div th:replace="fragments/topnav :: confirmation">
</div>
<!--quit confirmation popup end -->
<!--navigation bar end -->

<!--modal begin-->

<div class="container">
    <!-- Trigger the modal with a button -->


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">How it works</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center bg-info btn text-info center-block">Select an existing or a new file.</p>
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <p class="btn">
                                        <span class="glyphicon glyphicon-arrow-down"></span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <p class="center-block"><span class="btn btn-warning btn-lg">New File</span></p>
                                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                    <p class="center-block bg-info text-info btn">Edit the New File</p>
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-xs-12 text-center">
                                            <p><span class="btn btn-success btn-lg">Place the word(s) you want to replace between tags <br/> e.g. &#60;keyword&#62; word &#60;keyword/&#62;</span></p>
                                            <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                            <p><span class="btn btn-success btn-lg">
         For the dynamic data tables, make sure <br/> you only complete the table headers within the file.
       </span></p>
                                            <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                            <p class="center-block bg-info text-info btn">Upload the New File</p>
                                            <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <p class="center-block"><span class="btn btn-success btn-lg">Existing File</span></p>
                                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>

                                    <p class="bg-info text-info btn">Choose a predefined type and upload the file.</p>
                                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>



                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center bg-info btn text-info center-block">Add the keywords and sources in the application</p>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                </div>
                            </div>
                            <p class="lead text-center bg-info btn text-info center-block">Choose file table(s) data source.</p>
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <p class="btn">
                                        <span class="glyphicon glyphicon-arrow-down"></span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <p class="center-block"><span class="btn btn-warning btn-lg">API</span></p>

                                </div>
                                <div class="col-xs-6 text-center">
                                    <p class="center-block"><span class="btn btn-success btn-lg">Excel</span></p>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span></p>
                                </div>
                            </div>
                            <p class="lead text-center bg-info btn text-info center-block">Submit input and download file.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<!--modal end-->

<!--jumbotron begin-->

<div th:replace="fragments/jumbotron :: jumbotron">
</div>

<!--jumbotron end-->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div th:text="${message}" th:if="${message ne null}" class = "alert" role ="alert" th:classappend="${errorFlag} ? 'alert-success' : 'alert-danger'">

            </div>

            <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Description</th>
                        <th>Source</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <form action="#" th:action="@{/existingTemplate}" method="post" th:object="${documentType}">
                       <td>1</td>
                      <td>Choose a template from our repo</td>
                        <td><div class="form-group">
                          <select class="form-control" id="sel1" th:field="*{name}">
                                <option th:each="p : ${listType}" th:value="${p}" th:text="${p}" />
                            </select>
                        </div>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-info btn-md btn-block">
                                <span class="glyphicon glyphicon-upload"></span> Select
                            </button>
                        </td>
                        </form>
                    </tr>
                    <tr>
                        <form method="post" th:action="@{/page1}" enctype="multipart/form-data">
                        <td>2</td>
                        <td>Upload a new template</td>
                        <td><div class="form-group">
                            <input type="file" class="form-control-file" id="file" name="file"
                                   accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                        </div></td>
                        <td>
                            <button type="submit" class="btn btn-info btn-md btn-block">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                        </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
<!--footer begin-->
    <div th:replace="fragments/footer :: footer">
    </div>

<!--footer end-->
</div>


</body>
</html>
